* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
body {
  background-color: #ebe9e9;
  user-select: none;
}
body .navbar-nav {
  width: 100%;
  height: 70px;
  background-color: #dad9d9;
  display: flex;
  align-items: center;
  position: relative;
}
body .navbar-nav .container .nav-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
body .navbar-nav .container .nav-inner .logo {
  font-size: 28px;
  color: #4c4ca2;
  font-weight: bolder;
}
body .navbar-nav .container .nav-inner .ul {
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}
body .navbar-nav .container .nav-inner .ul li {
  margin-left: 20px;
  color: #4c4ca2;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
}
body .navbar-nav .container .nav-inner .ul li .icon {
  color: #6666cd;
}
@media screen and (max-width: 600px) {
  body .navbar-nav .container .nav-inner .ul {
    position: absolute;
    background-color: #dad9d9;
    top: 100%;
    flex-direction: column;
    width: 100%;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  body .navbar-nav .container .nav-inner .ul li {
    margin-bottom: 25px;
  }
  body .navbar-nav .container .nav-inner .ul li:first-child {
    margin-top: 25px;
  }
}
body .navbar-nav .container .nav-inner .ul.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}
body .navbar-nav .container .nav-inner .burger {
  width: 35px;
  height: 35px;
  position: relative;
  transition: 0.3s;
  overflow: hidden;
  background-color: #dad2d2;
  border-radius: 8px;
  display: none;
}
body .navbar-nav .container .nav-inner .burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 2px;
  background-color: #6666cd;
  display: block;
  transition: all 0.3s;
}
body .navbar-nav .container .nav-inner .burger span:nth-child(1) {
  margin-top: -10px;
}
body .navbar-nav .container .nav-inner .burger span:nth-child(3) {
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  body .navbar-nav .container .nav-inner .burger {
    display: block;
  }
}
body .navbar-nav .container .nav-inner .burger.active span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(-45deg);
  margin-top: 0;
}
body .navbar-nav .container .nav-inner .burger.active span:nth-child(2) {
  transform: translate(-50%, -50%);
  left: -50%;
}
body .navbar-nav .container .nav-inner .burger.active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-top: 0;
}
body .categories {
  height: 0;
  width: 100%;
  background-color: #6666cd;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
body .categories .categories-inner {
  display: flex;
  overflow-x: auto;
  align-items: center;
  padding: 0 15px;
  height: 100%;
}
body .categories .categories-inner a {
  margin-right: 30px;
  margin-left: 30px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}
body .categories .categories-inner a:hover {
  color: #47474e;
}
body .categories .categories-inner::-webkit-scrollbar {
  height: 5px;
  background: #bab6b6;
}
body .categories .categories-inner::-webkit-scrollbar-thumb {
  background-color: #1e1e1f;
}
body .categories.active {
  height: 55px;
  visibility: visible;
  opacity: 1;
}
